.dishes .container {
  display: flex;
  flex-direction: column;
  padding: 100px 0 120px;
  border-bottom: 1px solid #ddd;
}

.dishes__title {
  font-family: "Poppins", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 45px;
  color: rgba(32, 31, 31, 1);
  font-weight: 600;
  line-height: 1.2;
  font-weight: 700;

  margin: 0 auto;
}

.dishes__title span {
  color: var(--main-color);
}

.dishes__card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.dishes__card-container__card {
  width: 230px;
  max-height: 420px;

  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  margin: 75px 0 65px;
}

.dishes__card-container__image-container {
  max-height: 90%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  align-self: center;
}

.dishes__card-container__image-container__heart {
  position: absolute;
  top: 15px;
  right: 10px;
}

.dishes__card__text-container {
  padding: 15px 25px 30px 25px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dishes__card__text-container__harm {
  background-color: rgba(247, 237, 208, 1);
  color: rgba(218, 163, 26, 1);
  padding: 5px 8px;
  font-family: "Poppins", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  max-width: 65px;
  border-radius: 5px;

  margin-top: 8px;
}

.dishes__card__text-container__title {
  font-family: "Poppins", Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 22px;
  color: rgba(50, 49, 66, 1);
  font-weight: 600;
}

.dishes__card__text-container__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 16px 0 10px;
}

.dishes__card__text-container__info p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: rgba(142, 151, 166, 1);
  font-size: 18px;
  gap: 10px;
}

.dishes__card__text-container__add-to-cart {
  display: flex;
  justify-content: space-between;

  font-weight: 700;
}

.dishes__card__text-container__add-to-cart p {
  font-size: 25px;
  color: rgba(18, 24, 38, 1);
}

.dishes__card__text-container__add-to-cart p span {
  font-size: 20px;
  color: rgb(107, 107, 107);
}

.dishes__card__text-container__add-to-cart div {
  background-color: rgba(50, 49, 66, 1);
  color: white;
  font-size: 18px;
  width: 45px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 12px;
}
