.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 90;
  background-color: var(--background-color);
}

.header .container {
  position: relative;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;

  border-bottom: 1px solid #cbcbcb;
  background-color: var(--background-color);
  padding: 30px 0 20px;
}

.header__image-container {
  cursor: pointer;
}

.header__nav-container {
  flex: 1;
}

.header__nav-container ul {
  display: flex;
  gap: 55px;
}

.header__nav-container ul li a {
  font-weight: 500;
  color: #606060;

  transition: all 0.15s;
}

.header__nav-container ul li a:hover {
  color: var(--main-color);
}

.header__auth-buttons button {
  border: 1px solid transparent;
  font-size: 18px;
  padding: 25px 18px;
  border-radius: 15px;
  font-weight: 700;

  cursor: pointer;
  transition: all 0.15s;
}

.header__auth-buttons__login {
  color: #606060;
  background-color: transparent;
}

.header__auth-buttons__register {
  color: white;
  background-color: var(--main-color);
}

.header__auth-buttons__register:hover {
  color: var(--main-color);
  background-color: white;
  border: 1px solid var(--main-color);
}
