.promotion .container {
    display: flex;
    padding: 100px 0;
    position: relative; /* Добавляем relative для родительского контейнера */
}

.promotion__fieldset {
    background-image: url("/shared/pictures/stats/stats_bg.png");
    padding: 60px 65px;
    border: none;
    border-radius: 30px;
    width: 100%;
    position: relative; /* Для контроля расположения внутренних элементов */
}

.promotion__fieldset__title {
    font-weight: 800;
    font-size: 70px;
    color: white;
    margin-bottom: 40px;
}

.promotion__fieldset__input-container {
    position: relative;
    display: inline-block;
}

.promotion__fieldset__input {
    background-color: white;
    font-size: 16px;
    padding: 20px;
    color: rgba(135, 135, 135, 1);
    border: none;
    outline: none;
    width: 440px;
    border-radius: 14px;
}

.promotion__fieldset__button {
    position: absolute;
    right: 5px;
    top: 3px;
    bottom: 5px;
    height: 90%;
    padding: 0 20px;
    background-color: #6A4AEF;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 16px;
}

.promotion__fieldset__button:hover {
    background-color: #5436d7;
}

.promotion__fieldset__image {
    position: absolute;
    right: 50px;
    bottom: -85px;
}
